.app-container {
  background-color: white;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.map-container {
  width: 100%;
  min-height: 600px;
  height: 600px;
  display: flex;
  flex-direction: row;
}

.vehicle-card {
  width: 100%;
  min-width: 100%;
}
