.list-filter {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
  }
  button {
    width: 60px;
    height: 30px;
    border: none;
    margin: 5px;
  }

  .list-filter-half {
    display: flex;
    justify-content: center;
  }

  .inputs {
      display: flex;
  }

  @media only screen and (max-width:1430px) {
    .list-filter {
      flex-direction: column;
    }
  }

  @media only screen and (max-width:750px) {
    .inputs {
        display: flex;
        flex-direction: column;
    }
  }